/* Navbar container */
.navBar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navBar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropDown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropDown .dropButton {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navBar a:hover, .dropDown:hover .dropButton {
    background-color: orange;
  }
  
  /* Dropdown content (hidden by default) */
  .dropDown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropDown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropDown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropDown:hover .dropDown-content {
    display: block;
  }

  /**/
  .dropButton2 {
    color: #ddd;
    background-color: orange;
  }
  /**/

  .hiddenState {
    opacity: 0%;
    display:none;
  }

  .showState {
    display:block;
  }

  /**/
  
  .logoImg {
    max-height: 150px;
  }

  .logoLink:hover{
    background-color: #333 !important;
  }
  /* Orange Button style */
  .orangeButton {
    color:white;
    background-color: orange;
    align-self: center;
  }

  .orangeButton:hover {
    background-color:white !important;
    color: orange;
  }

  /**/
  .heroImg{
    height: auto;
  }

  /**/
  .section1{
    display: flex;
    justify-content: space-evenly;
  }

  body{
    font-family: "Gill Sans",sans-serif;
    background-color: #ddd;
  }

  p{
    flex-wrap: wrap;
  }